.day.in-range {
    background-color: #3cff00 !important; /* Bright green */
    color: white !important; /* Ensure text contrast */
}

.day.hover-range {
    background-color: #8be9b2 !important; /* Bright green */
    color: white !important; /* Ensure text contrast */
}

.points {
    display: block;
    width: 100%;
}

.points.left-align {
    text-align: left;
}

.points.right-align {
    text-align: right;
}
