.day.in-range {
    background-color: #3cff00 !important; /* Bright green */
    color: white !important; /* Ensure text contrast */
}

.day.hover-range {
    background-color: #8be9b2 !important; /* Bright green */
    color: white !important; /* Ensure text contrast */
}
